<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <h1>Il mio vissuto è nel tessuto della strada <br>
        Lei mi sposa perché in prosa io l'ho sempre romanzata
    </h1>
    <a href="/gif/tedua-2020-freestyle-MBxZGG" title="Tedua - 2020 Freestyle"><img src="https://i.makeagif.com/media/12-25-2020/MBxZGG.gif" alt="Tedua - 2020 Freestyle"></a><div style="font-size:11px;">make <a href="/" title="make a gif">music GIFs</a> like this at MakeaGif</div>
    
</body>
</html>