{% extends 'base.html' %}
{% block title %}
    giornalista
{% endblock title %}

{% block content %}
    <h4>
        dettagli del giornalista:
        {{giornalista.nome}}
        {{giornalista.cognome}}
        <br>
        nato il {{giornalista.anno_di_nascita}}
    </h4>

    tutti i suoi articoli e visualizzazioni
        {% for articolo in articolo %}
        <ul>
            <li>
                <p> titoli: <a href={% url 'news:articolo_detail' articolo.id %}>{{articolo.titolo}} - {{articolo.visualizzazioni}}</a></p>
            </li>
        </ul>
        {% endfor %}
{% endblock content %}  