{% extends "base.html" %}
{% block title %}
    lista articoli
{% endblock title %}
{% block content %}
    {% if pk %}
        <h1>articoli di un giornalista:</h1>
        {% if giornalista %}
            <p><strong>giornalista: <strong><a href={% url 'news:articolo_detail' articolo.giornalista.id%}>{{articolo.giornalista}}</a></p>
            {% for articolo in articoli %}
                <br>
                <p><strong>titolo: </strong><a href={% url 'news:articolo_detail' articolo.id%}>{{articolo.titolo}}</a></p>
                <p><strong>contenuto: </strong>{{articolo.contenuto}}</p>
                <br>
            {% endfor %}
            {% else %}
                <p>nessun articolo associato al giornalista avente chiave {{ pk }}</p>
            {% endif %}        
    {% else %} 
        <h1>tutti gli articoli</h1>
        {% for articolo in articoli %}
            <p><strong>titolo: </strong><a href={% url 'news:articolo_detail' articolo.id%}>{{articolo.titolo}}</a></p>
            <p><strong>contenuto: </strong>{{articolo.contenuto}}</p>
            <p><strong>autore: </strong><a href={% url 'news:giornalista_detail' articolo.giornalista.id%}>{{articolo.giornalista}}</a></p>
            <hr>
        {% endfor %}
 {% endif %}
{% endblock content %}      